RAPIDAPI_KEY=votre_cle_api_ici
API_PLAQUE_URL=https://api-de-plaque-d-immatriculation-france.p.rapidapi.com/
RAPIDAPI_HOST=api-de-plaque-d-immatriculation-france.p.rapidapi.com
API_PLAQUE_PARAM=immatriculation
